#page-ipfs {
  .ipfs-qrcode {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(232, 201, 155, 0.94);
    padding: 40px;
    border-radius: 20px;

    .qrcode-frame {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      padding: 6px;
      border: 6px solid var(--red);
      border-radius: 10px;
    }

    .qrcode {
      flex-shrink: 0;
    }

    .line {
      width: 3px;
      height: 210px;
      background-color: rgba(232, 201, 155, 0.94);
      margin: 0 30px 0 30px;
    }

    .info {
      width: 270px;
      font-size: 14px;
      display: flex;
      flex-direction: column;

      .name {
        margin-bottom: 4px;
        font-size: 25px;
        font-weight: 600;
        color: rgba(232, 201, 155, 1);
      }
    }
  }
}

@media (max-width: 1024px) {
  #page-ipfs {
    .ipfs-qrcode {
      flex-direction: column;

      .line {
        height: 3px;
        width: 210px;
        margin: 30px 0 20px 0;
      }

      .info {
        text-align: center;
      }
    }
  }
}
