#editorElement {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 64px;
  background-color: var(--mantine-color-body);
}
#viewerElement {
  min-width: 61.8%;
  padding: 64px 20px 0;
}

@media screen and (min-width: 1440px) {
  #viewerElement {
    max-width: 61.8%;
  }
}
