#page-note {
  width: 100%;

  #editor-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 64px;
    background-color: var(--mantine-color-body);
    z-index: 9;
  }

  #viewer-box {
    width: 100%;
    max-width: 1280px;
  }

  #switch-box {
    position: fixed;
    bottom: 3px;
    z-index: 10;
    left: 10px;
  }
}
