#page-note {
  width: 100%;

  #editor-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 64px;
    background-color: var(--mantine-color-body);
    z-index: 9;
  }

  #viewer-box {
    width: 100%;
    max-width: 1280px;
  }

  #switch-box {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    padding: 4px 10px;
    border-top: 1px solid var(--crepe-color-outline);
    background: var(--tab-background);
    border-radius: 0 10px 0 0;
  }
}
