:root {
  --red: #c93721;
}
:root[data-mantine-color-scheme="light"] {
  --mantine-color-body: #fff;
  --tab-background: #0000000a;
  --tab-color: #8e8e8f;

  --message-background: rgba(0, 0, 0, 0.04);
  --message-color: #222325;
}
:root[data-mantine-color-scheme="dark"] {
  --mantine-color-body: #151718;
  --tab-background: #ffffff0a;
  --tab-color: #787c80;

  --message-background: #f5faf70a;
  --message-color: #fff;
}

@font-face {
  font-family: "Work Sans";
  src:
    url("/fonts/WorkSans.ttf") format("truetype-variations"),
    url("/fonts/WorkSans.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
  word-break: break-word;
}
body::after {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("/imgs/noise.png");
  background-size: 109px;
  background-repeat: repeat;
  opacity: 0.06;
  z-index: 1000;
}

a {
  color: var(--mantine-color-anchor);
  text-decoration: none;
  // font-weight: 500;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  padding-top: 64px;
  padding-bottom: 64px;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  justify-content: space-between;
  padding: 0 20px;
  background-color: var(--mantine-color-body);
  height: 64px;
  border-bottom: 1px solid var(--tab-background);
  flex-wrap: nowrap;
}

.mantine-Textarea-input {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #ccc;
  }
}

.mp-hover {
  border-radius: 6px;
  &:hover {
    background-color: var(--mantine-color-default-hover);
  }
}
