#page-note #editor-box{background-color:var(--mantine-color-body);padding-top:64px;position:fixed;top:0;left:0;right:0}#page-note #viewer-box{width:100%;max-width:1280px}#page-note #switch-box{position:fixed;bottom:3px;left:10px}
